

.header {
  background-color: #f7f7f7;
}
.nav,
.navList {
  display: flex;
}

.mainHeaderContainer {
  display: flex;
  align-items: center;
  padding: 24px 64px;
}

.navLogoLink {
  margin-right: 450px;
}

.navListHome {
  margin-right: 32px;
}

.navLinkHome,
.navLinkCatalog {
  color: #101828;
}

.navLinkIsActive {
  color: #d84343;
}

/* /Navigation */
